html * {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* logo */

#logo {
  display: flex;
  border-radius: 100px;
  max-width: min-content;
  margin: 0 auto;
  margin-top: 1.5em;
  font-weight: bold;
}

#logo svg {
  font-size: 5em;
}

#logo h1 {
  font-size: 4em;

}

#logo svg, #logo h1 {
  margin: .2em;
  color: var(--black);
}

/*layout*/

.App {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: .03fr 5fr 2fr;
  grid-template-areas: "logo logo logo"
  "empty posts subs";
  gap: 30px 20px;
}

header { /* container for logo */
  grid-area: logo;
}

nav { /*container for subReddits*/
  grid-area: subs;
}

main { /* container for all posts */
  grid-area: posts;
  max-width: 100%;
}

.imagePost, .videoPost { /*image and video posts layout*/
  display: grid;
  grid-template-rows: minmax(4em, auto) 3fr minmax(4em, auto);
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "upVote text"
  "upVote image"
  "upVote authorAndComments";
}

.imagePost h3, .videoPost h3 {
  grid-area: text;
}

.imagePost .imageContainer, .videoPost video {
  grid-area: image;
}

.imagePost .author, .videoPost .author {
  grid-area: authorAndComments;
}

.imagePost .Comments, .videoPost .Comments {
  position: relative; /*to position the button*/
  grid-area: authorAndComments;
}

.imagePost .Comments .svg-inline--fa, .videoPost .Comments .svg-inline--fa {
  position: absolute;
  top: 10px;
  right: 10px;
}

.imagePost, .videoPost {
  position: relative; /*to position author;*/
}

.imagePost .author, .videoPost .author {
  grid-area: authorAndComments;
  position: absolute;
  top: 10px;
  left: 10px;
}

.textPost { /*layout for textPost*/
  display: grid;
  grid-template-rows: minmax(4em, auto) minmax(4em, auto);
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "upVote text"
  "upVote authorAndComments";
  position: relative; /*to position author*/
}

.textPost .title {
  grid-area: text;
}

.textPost .author {
  grid-area: authorAndComments;
  position: absolute;
  top: 10px;
  left: 10px;
}

.textPost .Comments {
  position: relative;
  grid-area: authorAndComments;
}

.textPost .Comments .svg-inline--fa {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*SubReddits*/

.SubReddits { /*the outermost div */
  padding: 1em;
  border-radius: 1em 0 0 1em;
}

.subRedditsHeading { /* the heading */
  margin-bottom: 1.5em;
}

.SubRedditsList { /*the list*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.SubRedditsList li {
  width: 100%;
}

.SubRedditButton { /*one single line with avatar and h4*/
  display: flex;
  min-width: max-content;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.SubRedditButton h4 {
  margin-left: 1.2em;
}


/*posts*/

main :first-child { /*the first post element */
  margin-top: 0;
} 

.Posts ul {
  width: 100%;
}

.post {
  margin: 2em 0;
  padding: 1.2em;
  border-radius: 1em;
} 


.imageContainer img {
  width: 100%;
}

/*Comments*/

.Comments ul :first-child :first-child { /*first comment*/
  margin-top: 5em;
}

.Comment {
  margin-top: 2em;
}

/*fonts*/

.videoPost h3, .textPost h3, .imagePost h3 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
}

.subRedditsHeading {
  font-size: 2em;
  font-weight: bold;
}

.SubRedditButton h4 {
  font-size: 1.5em;
  font-weight: 700;
}

.svg-inline--fa {
  font-size: 1.7em;
}

/*colors*/

#logo {
  border: 3px solid var(--blackSecondary);
  background-color: var(--purple);
}

.App {
  background-color: var(--black);
  color: var(--white);
}

main {
  background-color: var(--black);
}

.post {
  background-color: var(--blackSecondary);
}

.SubReddits {
  background-color: var(--blackSecondary);
}

.svg-inline--fa {
  color: var(--orange);
}

.SubRedditButton {
  background-color: transparent;
  border: none;
}

.SubRedditButton h4 {
  color: var(--white);
}


