/*reset stylesheet in index.css*/




/********************************************************************************************/

/*global styling*/

html {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.App {
  font-family: 'Fira Code', monospace;
  background-color: var(--black);
  color: var(--white);
}

/********************************************************************************************/

/*layout*/

.App {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.3fr 5fr max-content;
  grid-template-areas: "logo logo logo"
  "empty posts subs";
  gap: 30px 20px;
  text-align: left;
}

header { /* container for logo */
  grid-area: logo;
}

nav { /*container for subReddits*/
  grid-area: subs;
}

main { /* container for all posts */
  grid-area: posts;
  max-width: 100%;
}

.imagePost, .videoPost { /*image and video posts layout*/
  display: grid;
  grid-template-rows: minmax(4rem, auto) 3fr minmax(2rem, auto);
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "upVote text"
  "upVote image"
  "upVote authorAndComments";
}

.imagePost h3, .videoPost h3 {
  grid-area: text;
}

.imagePost .imageContainer, .videoPost video {
  grid-area: image;
}

.imagePost .author, .videoPost .author {
  grid-area: authorAndComments;
}


.imagePost, .videoPost {
  position: relative; /*to position author;*/
}

.imagePost .author, .videoPost .author {
  grid-area: authorAndComments;
  position: absolute;
  top: 10px;
  left: 10px;
}

.textPost { /*layout for textPost*/
  display: grid;
  grid-template-rows: minmax(4rem, auto) minmax(2rem, auto);
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "upVote text"
  "upVote authorAndComments";
  position: relative; /*to position author*/
}

.textPost .title {
  grid-area: text;
}

.textPost .author {
  grid-area: authorAndComments;
  position: absolute;
  top: 10px;
  left: 10px;
}

.post .Comments{
  position: relative; /*to position the button*/
  grid-area: authorAndComments;
}

.post .Comments .svg-inline--fa {
  position: absolute;
  top: 10px;
  right: 10px;
}

/********************************************************************************************/

/* Votes */
/* vote scale inline style in voteScale.js */

.Votes {
  grid-area: upVote;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'scale upVote'
  'scale downVote';
}

.VoteScale {
  width: 2.5rem;
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 100px;
  grid-area: scale;
}

.voteContainer {
  grid-area: upVote;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 1rem;
}

.upVote {
  height: 4rem;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.upVote h4 {
  color: var(--white);
}

.upVote svg {
  color: var(--purple);
}

.dowVote svg {
  color:  var(--black);
}

.dowVote {
  height: 4rem;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.dowVote h4 {
  color: var(--white);
}

/********************************************************************************************/

/* logo */

#logo {
  display: flex;
  border-radius: 100px;
  max-width: min-content;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: bold;
  border: 3px solid var(--blackSecondary);
  background-color: var(--purple);
}

#logo svg {
  font-size: 5rem;
}

#logo h1 {
  font-size: 5rem;
}

#logo svg, #logo h1 {
  margin: .5rem;
  color: var(--black);
}

/*SubReddits*/

.toggleVisible {
  display: none;
}

.SubReddits { /*the outermost div */
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--blackSecondary);
  position: sticky;
  top: 1rem;
  overflow: scroll;
  height: calc(100vh - 5rem);
  animation: fadeIn 1s linear;
}

.subRedditsHeading { /* the heading */
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.SubRedditsList { /*the list*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.SubRedditsList li {
  width: 100%;
}

.SubRedditButton { /*avatar and h4*/
  display: flex;
  min-width: max-content;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
  background-color: transparent;
  border: none;
  padding: .3rem 1rem;
}

.SubRedditButton {
  cursor: pointer;
}

.SubReddit :hover {
  background-color: var(--purple);
  border-radius: .7rem;
}

.SubReddit :focus {
  background-color: var(--purple);
  border-radius: .7rem;
}

.SubReddit :active {
  background-color: var(--orange);
  border-radius: .7rem;
}

.SubRedditButton h4 {
  margin-left: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}


/*posts*/

main { /*main wraps around all posts*/
  background-color: var(--black);
}

main :first-child { /*the first post element */
  margin-top: 0;
} 

.post {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--blackSecondary);
  animation: fadeIn 1s linear;
} 

.post .title {
  margin-bottom: 1rem;
}

.videoPost h3, .textPost h3, .imagePost h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
}

.imageContainer, .videoPost video {
  margin-bottom: 1rem;
}

.imageContainer img, .videoPost video {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.author { /*posted by:*/
  font-size: 1rem;
}
.author b { /*actual name of author*/
  color: var(--orange);
  font-weight: bolder;
}


/********************************************************************************************/

/*loading animation*/

.loading {
  height: 100vh;
  background-color: var(--blackSecondary);
  border-radius: 1rem;
  text-align: center;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: fadeIn 1s linear;
}

.loading h4 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0 auto;
}


.yellow {
  animation: bounce 0.8s linear infinite;
  color: var(--yellow);
}

.orange {
  animation: bounce 0.9s linear infinite;
  color: var(--orange);
}

.cyan {
  animation: bounce 1s linear infinite;
  color: var(--cyan);
}

.pink {
  animation: bounce 1.1s linear infinite;
  color: var(--pink);
}

.green {
  animation: bounce 1.2s linear infinite;
  color: var(--green);
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.SubReddits .loading h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}


.Posts .Comments .loading { /*loading comments*/
  height: auto;
  padding-top: 5rem;
  text-align: center;
}

.Posts .Comments .loading h4 {
  font-size: 1.5rem;
  font-weight: bold;
}



/*Comments*/

.Comments ul :first-child :first-child { /*first comment*/
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 2px solid var(--purple);
}

.Comment {
  margin-top: 2rem;
}

.CommentBody {
  font-size: 1.2rem;
  /*prevent text overflow on tablet*/
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.CommentAuthor {
  font-size: 1rem;
  color: var(--orange);
  margin-bottom: .3rem;
}

.svg-inline--fa { /*comment icon*/
  font-size: 1.7rem;
  color: var(--orange);
}


/********************************************************************************************/

/*screen sizes*/

@media screen and (min-width: 1921px) {
  #root {
    width: 1920px;
    margin: 0 auto;
  }

  .SubReddits {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 1920px) {
  #root {
    width: 100vw;
  }
}

@media screen and (max-width: 1170px) {
  .toggleVisible {
    display: inline;
  }
  .SubRedditsList {
    display: none;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  .App > * {
    margin: 2rem;
  }
  nav {
    position: sticky;
    top: 0px;
    z-index: 10;
  }
  .SubReddits {
    position: static;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid var(--orange);
    padding: 0.3rem;
  }
  .subRedditsHeading {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .SubRedditsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
  }
  .SubRedditsList li {
    width: auto;
  }
  .SubRedditButton {
    flex-direction: column;
    align-items: left;
  }
  .SubRedditButton h4 {
    margin-left: 0;
  }
}

@media screen and (max-width: 940px) {
  .post .author b::before { /*push name of author to next line*/
    content: " ";
    display: block;
  }
  .SubRedditButton .drac-avatar, .SubRedditButton .drac-avatar-background {
    display: none;
  }
  .SubReddit h4 {
    border-radius: 0.5rem;
    padding: 0.2rem;
  }
}


@media screen and (max-width: 800px) {
  :root {
    font-size: 12px;
  }
  .imagePost, .videoPost {
    grid-template-columns: auto 5fr;
    grid-template-rows: minmax(4rem, auto) 3fr minmax(3rem, auto);
  }

  .textPost {
    grid-template-columns: auto 5fr;
    grid-template-rows: minmax(4rem, auto) minmax(3rem, auto);
  }

  .App > * {
    margin: 1rem;
  }

  .Votes {
    width: min-content;
  }

  .dowVote, .upVote{
    flex-direction: column;
  }
  .dowVote {
    flex-flow: column-reverse;
  }


  .VoteScale {
    display: none;
  }

  .upVote, .dowVote {
    margin-left: 0px;
  }
  
  .post {
    padding: 1rem;
  }

}

@media screen and (max-width: 400px) {
  #logo h1 {
    display: none;
  }

  #logo svg {
    font-size: 10rem;
  }
}
